<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coder.qiang.blog.dao.TopicMapper">
    <resultMap id="BaseResultMap" type="com.coder.qiang.blog.modal.Topic">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="loadURL" property="loadurl" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="decoration" property="decoration" jdbcType="VARCHAR"/>
        <result column="create_id" property="createId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="alter_time" property="alterTime" jdbcType="TIMESTAMP"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="is_comment" property="comment" jdbcType="BOOLEAN"/>
        <result column="read_count" property="readCount" jdbcType="INTEGER" />
        <result column="up_vote" property="upVote" jdbcType="INTEGER" />
        <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List">
    id, title, author, type, loadURL, label, decoration, create_id, create_time, alter_time, 
    state,content,is_comment
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from topic
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.coder.qiang.blog.modal.Topic">
        insert into topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="loadurl != null">
                loadURL,
            </if>
            <if test="label != null">
                label,
            </if>
            <if test="decoration != null">
                decoration,
            </if>
            <if test="createId != null">
                create_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="alterTime != null">
                alter_time,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="comment != null">
                is_comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="loadurl != null">
                #{loadurl,jdbcType=VARCHAR},
            </if>
            <if test="label != null">
                #{label,jdbcType=VARCHAR},
            </if>
            <if test="decoration != null">
                #{decoration,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="alterTime != null">
                #{alterTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.coder.qiang.blog.modal.Topic">
        update topic
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="loadurl != null">
                loadURL = #{loadurl,jdbcType=VARCHAR},
            </if>
            <if test="label != null">
                label = #{label,jdbcType=VARCHAR},
            </if>
            <if test="decoration != null">
                decoration = #{decoration,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                create_id = #{createId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="alterTime != null">
                alter_time = #{alterTime,jdbcType=TIMESTAMP},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
            <if test="comment != null">
                is_comment = #{comment,jdbcType=BOOLEAN},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="count" parameterType="com.coder.qiang.blog.modal.Topic" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM topic
  </select>
    <select id="countAll" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM topic
  </select>
    <select id="selectPageList" resultMap="BaseResultMap">
        SELECT
        a.id, a.title, a.author, a.type, a.loadURL, a.label,a. decoration, a.create_id, a.create_time, a.alter_time,
        a.state,a.content,a.is_comment,b.read_count,b.up_vote,b.comment_count
        FROM topic a LEFT JOIN topic_stat b on(a.id =b.id)
        <if test="page.orderField!=null">
            ORDER BY ${page.orderField} ${page.orderDir}
        </if>
        <if test="page.start!=null">
            LIMIT #{page.start},#{page.length}
        </if>
    </select>
</mapper>